Source: rtl8821au
Section: misc
Priority: optional
Maintainer: morrownr <morrownr@gmail.com>,
	Dongjin Kim <tobetter@gmail.com>
Build-Depends: debhelper (>= 10),
                dkms,
                dh-dkms,
                bc
Standards-Version: 4.3.0
Vcs-Browser: https://github.com/morrownr/8821au.git
Vcs-Git: https://github.com/morrownr/8821au.git

Package: rtl8821au-dkms
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, dkms, dpkg-dev, linux-firmware | firmware-realtek
Provides: rtl8821au-module
Description: DKMS files to build and install rtl8821au
 The rtl8821au driver provides the driver for Realtek RTL8811CU/RTL8821AU
 USB wifi adapter.
 .
 This package contains the DKMS files to build and install rtl8821au.
 .
 To install this package, you have to install the header files for your
 current kernel manually (usually included in the "linux-headers-<your
 architecture>").
